<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Vote your favorite bin</span>
        <span class="example-spacer"></span>
        <button [routerLink]="['/home']" routerLinkActive="router-link-active" mat-raised-button color="primary">  
            Home    
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">home</mat-icon>
        </button>
        <button *ngIf="auth.tokken" (click)="salir()" mat-raised-button color="primary">   
            Logout    
             <mat-icon class="example-icon" aria-hidden="false" aria-label="Example login icon">logout</mat-icon>
        </button>
        <button *ngIf="!auth.tokken" [routerLink]="['/login']" routerLinkActive="router-link-active" mat-raised-button color="primary">  
            Login      
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">login</mat-icon>
        </button>
        <button *ngIf="!auth.tokken" [routerLink]="['/register']" routerLinkActive="router-link-active" mat-raised-button color="primary">  
            Register      
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<!--<app-mapa></app-mapa> -->
<router-outlet></router-outlet>